<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LOGO_API_KEY</key>
	<string>112cf76ee6985cba2109065795f629302ce207802ea85bb5a64806f99de9a27d</string>
	<key>ODDS_API_KEY</key>
	<string>3816863bd466b8b75e6cfd179e272b31</string>
</dict>
</plist>
